<div class="container">
  <div class="row">
    <div class="col-12" *ngFor="let product of list" style="margin-bottom: 30px;">
      <!-- Card structure -->
      <div class="card position-relative" style="border: 1px solid #ddd; border-radius: 10px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
        
        <!-- Disponibilité superposée -->
        <div class="availability-badge" 
             [ngClass]="product.availability ? 'in-stock' : 'out-of-stock'">
          {{ product.availability ? 'En stock' : 'Épuisé' }}
        </div>

        <div class="row no-gutters">
          <!-- Column 1: Product image -->
          <div class="col-md-4">
            <img [src]="product.image" [alt]="product.name" class="card-img" style="border-radius: 10px; height: 300px; object-fit: cover;">
          </div>

          <!-- Column 2: Title and Description -->
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 1.2rem; font-weight: bold; color: #333;">{{product.name}}</h5>
              <p class="card-text" style="font-size: 0.9rem; color: #555;">{{product.description}}</p>
            </div>
          </div>

          <!-- Column 3: Add to Cart button and Price -->
          <div class="col-md-4">
            <div class="card-body">
              <h6 style="color: #4786eb; font-size: 30px; font-weight: bold;">
                {{ product.price | number:'1.0-0' }} DT
              </h6>
              <button class="btn btn-primary w-100" style="background-color: #4786eb; border: none; border-radius: 5px; padding: 10px;">Ajouter au panier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
