<div class="container">
  <h2 class="text-center my-4">Catégories de Produits</h2>
  <!--<div appHighlight>
    Passez la souris sur moi pour voir l'effet de surbrillance !
  </div>-->
  <div class="form-group">
    <input 
      type="text" 
      class="form-control" 
      id="find" 
      placeholder="Titre catégorie" 
      [(ngModel)]="titre" 
      (input)="filterCategories()" 
      #title="ngModel">
  </div><br/>

  <div class="row d-flex justify-content-center">
    <div class="col-md-4 mb-4" *ngFor="let categorie of filteredCategories"> <!-- Utilisation de filteredCategories -->
      <div class="card text-center">
        <img [src]="categorie.image" class="card-img-top" [alt]="categorie.title" (click)="getDescription(categorie.title, categorie.description)">
        <div class="card-body">
          <h3 class="card-title">{{ categorie.title | uppercase }}</h3>
          <button *ngIf="categorie.available" class="btn btn-primary" style="font-weight: bold;">Voir produits</button>
          <span *ngIf="!categorie.available" style="color: red; font-weight: bold;">Catégorie non disponible</span>
        </div>
      </div>
    </div>
    
    <!-- Affichage d'un message si aucune catégorie n'est trouvée -->
    <div *ngIf="(filteredCategories.length === 0 && titre !== '')" class="col-md-12 text-center">
      <p style="color: red; font-weight: bold;">Aucune catégorie trouvée avec le nom "{{ titre }}".</p>
    </div>
  </div>
</div>