.card {
  border: 1px solid #e0e0e0; /* Bordure légère */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: transform 0.2s; /* Effet de transition */
  margin: 10px;
  width: 500px; /* Largeur fixe pour toutes les cartes */
  height: 320px; /* Hauteur fixe pour toutes les cartes */
  display: flex; /* Utiliser flexbox */
  flex-direction: column; /* Alignement vertical */
}
.card-body {
  flex-grow: 1; /* Permet au corps de la carte de prendre tout l'espace disponible */
  display: flex; /* Utiliser flexbox pour le contenu */
  flex-direction: column; /* Alignement vertical du contenu */
  justify-content: space-between; /* Espacement entre le contenu */
  align-items: center; /* Centrer horizontalement le contenu */
}

.card-img-top {
  height: 200px; /* Hauteur uniforme pour les images */
  object-fit: cover; /* Ajuste l'image pour couvrir le conteneur */
}

.card:hover {
  transform: scale(1.05); /* Effet de zoom au survol */
}

.card:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
}

.card-img-top {
    height: 200px; /* Hauteur uniforme pour les images */
    object-fit: cover; /* Ajuste l'image pour couvrir le conteneur */
}

.text-error {
 
    color: red;
   font-size: 18px;
    font-weight: bold;
   
  }

  .text-success {
 
    color: green;
   font-size:15px ;
    font-weight: bold;
   
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col-md-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Ajustez cet espace pour mieux espacer les cartes */
  }
  